.wrapper {
  margin: 5px;
  user-select: none;
  .item {
    display: flex;
    flex-direction: row;
    align-items: start;
    .metadata {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
  .resolution {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .resolutionText {
      padding-bottom: 5px;
    }
  }
}
