.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  .reset {
    position: absolute;
    top: 0;
    right: 0;
  }
  .input {
    width: 100%;
  }
}
