.queue {
  border-bottom: solid 1px white;
  padding: 10px;
  .progressWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    .progress {
      flex: 1;
    }
    .text {
      margin-left: 10px;
    }
  }
}
