.queue {
  padding: 10px;
  .progressWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10px;
    .progress {
      flex: 1;
    }
    .text {
      margin-left: 10px;
      width: 50px;
      text-align: right;
    }
  }
}
