.wrapper {
  display: flex;
  flex-direction: row;
  user-select: none;
  height: 100%;
  .main {
    flex: 1;
    overflow-y: scroll;
    .tabItem {
      display: none;
      margin: 15px 10px;
      &.active {
        display: block;
      }
    }
  }
  .queue {
    width: 10vw;
    min-width: 300px;
    padding: 10px;
    height: 100%;
    border-left: solid 1px white;
    overflow: hidden;
  }
}
