.wrapper {
  display: flex;
  flex-direction: row;
  user-select: none;
  height: 100%;
  .main {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
    .tabItem {
      display: none;
      margin: 15px 10px;
      &.active {
        display: block;
      }
    }
  }
  .queue {
    border-left: solid 1px white;
    width: 50px;
    overflow: hidden;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  line-height: 100vh;
  text-align: center;
  z-index: 2000;
  user-select: none;
}
